<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.BatterMapper">
	<select id="findByTeam" resultType="com.baseball.game.dto.Batter">
		<!-- select * from player where B_P='B' and Team = #{team} -->
		select * from kbo_hitter_stats_2024 where player_team = #{team};
	</select>
	
	<select id="findByNames" resultType="List">
		<!-- select Name from player where B_P='B' and Name=#{name} -->
		select player_name from kbo_hitter_stats_2024 where player_team = #{team};
	</select>
</mapper>