<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.PitcherMapper">
	<select id="findByTeam" resultType="com.baseball.game.dto.Pitcher">
		select * from kbo_pitcher_stats_2024 where player_team = #{team};
	</select>
	
	<select id="findByNames" resultType="List">
		select player_name from kbo_pitcher_stats_2024 where player_team = #{team};
	</select>
</mapper>