<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.baseball.ranking.mapper.KboHitterStatsMapper">
	<!-- resultMap : DB의 column → Java 객체의 field를 어떻게 연결할 지를 알려주는 역할 -->
	<resultMap id="hitterStatsResultMap" type="com.baseball.ranking.dto.KboHitterStatsDto">
		<!-- asdf -->
        <id property="no" column="No"/>
        <result property="playerName" column="Player_Name"/>
        <result property="playerTeam" column="Player_Team"/>
        <result property="battingAverage" column="Batting_average"/>
        <result property="gameNum" column="Game_Num"/>
        <result property="plateAppearance" column="Plate_Appearance"/>
        <result property="run" column="Run"/>
        <result property="hit" column="Hit"/>
        <result property="twoBase" column="two_Base"/>
        <result property="threeBase" column="three_Base"/>
        <result property="homeRun" column="Home_Run"/>
        <result property="runsBattedIn" column="Runs_Batted_In"/>
        <result property="fourBall" column="Four_Ball"/>
        <result property="strikeOut" column="Strike_Out"/>
        <result property="onBasePercentage" column="On_Base_Percentage"/>
        <result property="onbasePlusSlug" column="Onbase_Plus_Slug"/>
    </resultMap>
	
	<!-- 타율 기준으로 내림차순 정렬하여 모든 타자 기록 조회 - Default -->
    <select id="findHitterStatsOrderByBattingAverageDesc" resultMap="hitterStatsResultMap">
        SELECT h.* FROM kbo_hitter_stats_2025 h JOIN kbo_team_stats_2025 t ON h.Player_Team = t.Team_Name 
        WHERE h.Plate_Appearance >= t.Game_Num * 3.1 ORDER BY h.Batting_average DESC LIMIT 30;
    </select>
    
    <!-- 경기 수 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByNumberOfGamesDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Game_Num DESC limit 30;
	</select>
	
	<!-- 타석 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByPlateAppearanceDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Plate_Appearance DESC limit 30;
	</select>
	
	<!-- 득점 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByRunDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Run DESC limit 30;
	</select>
	
	<!-- 안타 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByHitDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Hit DESC limit 30;
	</select>
	
	<!-- 2루타 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByTwoBaseDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY two_Base DESC limit 30;
	</select>
	
	<!-- 3루타 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByThreeBaseDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY three_Base DESC limit 30;
	</select>
	
	<!-- 홈런 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByHomeRunDesc" resultMap="hitterStatsResultMap">
        SELECT * FROM kbo_hitter_stats_2025 ORDER BY Home_Run DESC limit 30;
    </select>
	
	<!-- 타점 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByRunsBattedInDesc" resultMap="hitterStatsResultMap">
        SELECT * FROM kbo_hitter_stats_2025 ORDER BY Runs_Batted_In DESC limit 30;
    </select>
    
    <!-- 볼넷 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByFourBallDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Four_Ball DESC limit 30;
	</select>
	
	<!-- 삼진 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByStrikeOutDesc" resultMap="hitterStatsResultMap">
		SELECT * FROM kbo_hitter_stats_2025 ORDER BY Strike_Out DESC limit 30;
	</select>
	
	<!-- 출루율 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByOnBasePercentageDesc" resultMap="hitterStatsResultMap">
		SELECT h.* FROM kbo_hitter_stats_2025 h JOIN kbo_team_stats_2025 t ON h.Player_Team = t.Team_Name 
		WHERE h.Plate_Appearance >= t.Game_Num * 3.1 ORDER BY h.On_Base_Percentage DESC LIMIT 30;
	</select>
	
	<!-- OPS 기준으로 내림차순 정렬하여 모든 타자 기록 조회 -->
    <select id="findHitterStatsOrderByOPSDesc" resultMap="hitterStatsResultMap">
		SELECT h.* FROM kbo_hitter_stats_2025 h JOIN kbo_team_stats_2025 t ON h.Player_Team = t.Team_Name 
		WHERE h.Plate_Appearance >= t.Game_Num * 3.1 ORDER BY h.Onbase_Plus_Slug DESC LIMIT 30;
	</select>
	
	<!-- 타율 기준으로 내림차순 정렬하여 5명의 타자 기록 조회 - 초기 화면에 출력할 것. -->
	<select id="findHitterStatsOrderByBattingAverageDescLimitFive" resultMap="hitterStatsResultMap">
        SELECT h.* FROM kbo_hitter_stats_2025 h JOIN kbo_team_stats_2025 t ON h.Player_Team = t.Team_Name 
        WHERE h.Plate_Appearance >= t.Game_Num * 3.1 ORDER BY h.Batting_average DESC LIMIT 5;
    </select>
	
</mapper>
