<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.baseball.ranking.mapper.KboPitcherStatsMapper">
	<resultMap id="pitcherStatsResultMap" type="com.baseball.ranking.dto.KboPitcherStatsDto">
        <id property="no" column="No"/>
        <result property="playerName" column="Player_Name"/>
        <result property="playerTeam" column="Player_Team"/>
        <result property="earnedRunAverage" column="Earned_Run_Average"/>
        <result property="gameNum" column="Game_Num"/>
        <result property="win" column="Win"/>
        <result property="lose" column="Lose"/>
        <result property="save" column="Save"/>
        <result property="hold" column="Hold"/>
        <result property="inningsPitched" column="Innings_Pitched"/>
        <result property="hits" column="Hits"/>
        <result property="homeRun" column="Home_Run"/>
        <result property="baseOnBalls" column="Base_On_Balls"/>
        <result property="strikeOut" column="Strike_Out"/>
        <result property="runs" column="Runs"/>
        <result property="earnedRun" column="Earned_Run"/>
        <result property="whip" column="WHIP"/>
    </resultMap>
	
	<!-- 평균자책점 기준으로 오름차순 정렬하여 모든 투수 기록 조회 - Default-->
    <select id="findPitcherStatsOrderByEarnedRunAverageAsc" resultMap="pitcherStatsResultMap">
        SELECT p.* FROM kbo_pitcher_stats_2025 p JOIN kbo_team_stats_2025 t ON p.Player_Team = t.Team_Name 
        WHERE p.Innings_Pitched >= t.Game_Num ORDER BY p.Earned_Run_Average ASC LIMIT 30;
    </select>
	
	<!-- 경기 수 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByNumberOfGameDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Game_Num DESC limit 30;
    </select>
	
	<!-- 승을 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
    <select id="findPitcherStatsOrderByWinDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Win DESC limit 30;
    </select>
	
	<!-- 패를 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByLoseDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Lose DESC limit 30;
    </select>
	
	<!-- 세이브 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderBySaveDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Save DESC limit 30;
    </select>
	
	<!-- 홀드 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByHoldDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Hold DESC limit 30;
    </select>
	
	<!-- 이닝 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByNumberOfInningDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Innings_Pitched DESC limit 30;
    </select>
	
	<!-- 피안타 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByHitDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Hits DESC limit 30;
    </select>
	
	<!-- 피홈런 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByHomeRunDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Home_Run DESC limit 30;
    </select>
	
	<!-- 볼넷 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
	<select id="findPitcherStatsOrderByFourBallDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Base_On_Balls DESC limit 30;
    </select>
	
	<!-- 탈삼진 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
    <select id="findPitcherStatsOrderByStrikeOutDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Strike_Out DESC limit 30;
    </select>
    
    <!-- 실점 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
    <select id="findPitcherStatsOrderByRunDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Runs DESC limit 30;
    </select>
    
    <!-- 자책 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
    <select id="findPitcherStatsOrderByEarnedRunDesc" resultMap="pitcherStatsResultMap">
        SELECT * FROM kbo_pitcher_stats_2025 ORDER BY Earned_Run DESC limit 30;
    </select>
    
    <!-- WHIP 기준으로 내림차순 정렬하여 모든 투수 기록 조회 -->
    <select id="findPitcherStatsOrderByWHIPAsc" resultMap="pitcherStatsResultMap">
        SELECT p.* FROM kbo_pitcher_stats_2025 p JOIN kbo_team_stats_2025 t ON p.Player_Team = t.Team_Name 
        WHERE p.Innings_Pitched >= t.Game_Num ORDER BY p.WHIP ASC LIMIT 30;
    </select>
    
    <!-- 평균자책점 기준으로 오름차순 정렬하여 5명의 투수 기록 조회 - 초기 화면에 출력할 것. -->
    <select id="findPitcherStatsOrderByEarnedRunAverageAscLimitFive" resultMap="pitcherStatsResultMap">
        SELECT p.* FROM kbo_pitcher_stats_2025 p JOIN kbo_team_stats_2025 t ON p.Player_Team = t.Team_Name 
        WHERE p.Innings_Pitched >= t.Game_Num ORDER BY p.Earned_Run_Average DESC LIMIT 5;
    </select>
	
</mapper>
